.side{
    border: 1px solid;
    height: 700px;
    width: 270px;
    position: sticky;
    align-self: flex-start;
    top: 60px;
    bottom: 10;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #st1{
    align-self: flex-start;
    margin-top: 50px;
    border-radius: 25px;
    align-self: center;
  }

  .main .side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
   
  aside > h1{
    font-size: 20px;
  }

  .year{
    padding: 4px;
    margin-bottom:  20px;
    border-radius: 10px;
    font-size: 70%;
    width: 180px;
    text-align: center;
  }
  .contact-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid white; */
    height: 310px;
    margin-left: 10px;
  }
  .contact-item{
    /* border: 1px solid red; */
    width: 160px;
    align-self: flex-start;
    margin: auto;
  
  }
  
  .contact-items-container{
    /* border: 2px solid ; */
    display: flex;
    justify-content: space-between;
    width: 240px;
    align-items: space-between;

  }

.contact{
  /* border: 1px solid blue; */
  width: 240px;
  display: flex;
  flex-direction: column;
  
}

.contact-icon{
  /* border: 2px solid red; */
  border-radius: 15px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9e8962;
  font-size: 30px;
  margin: 10px;
  margin-top: 17px;

}

.contact-icons{
  /* border: 2px solid red; */
  display: flex;
 flex-direction: column;
 justify-content: space-around;
 padding-top: 15px;
}

.contact-item > p{
  font-size: 15px;
     
    
    width: 180px;
    height: 0px;
}

.social{
  align-self: center;

  margin-top: 30px;
  display: flex;
  width: 140px;
  justify-content: space-around;
}
.floating-side{
  display: none;
}