@media (max-width:1200px){
     .main{
        height: 1700px;
        width: 900px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
     }
    .about-container{
        margin-top: -20px;

    }
    
    #profileimg{
        margin: 30px;
        border-radius: 20px;
    }

    #aside-image-container {
        display: none;
    }
    
    .floating-side{
        /* border: 1px solid red; */
        width: 900px;
        height: 200px;  
        display: flex;
        border-radius: 25px;
        align-items: center;
        justify-content: flex-start;
        border: 1px solid;

     }

}


@media (max-width:900px){
       .about-container{
        width: 700px;
        height: 1550px;
        transition: width 0.4s ease,;
      }

      body{
        height: 2200px;
      }

      .main{
        height: 1900px;
        width: 700px;
      }

      .what-im-doing{
        /* border: 1px solid; */
        height: 700px;
      }
     
      .floating-side {
        width: 700px;
        transition: width 0.4s ease;
      }

    .about-me, .aboutme-head, .hr{
        width: 680px;
    }
      .aboutme-content{
        width: 650px;
      }
      
    .what-im-doing{
       width: 700px;
    }

    .doing-header{
      width: 680px;
      
    }
    .doing-items-container{
        /* border: 1px solid red; */
        width: 700px;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .doing-items-box{
        width: 670px;
        height: 120px ;
    }
    .doing-items-content{
        width: 600px;
        height: 150px;
    }

    .testimonials{
        width: 700px;
        height: 850px;
        /* border: 1px solid greenyellow; */
          border-bottom: 1px solid;
          border-left: 1px solid;
          border-right: 1px solid;
          border-bottom-left-radius: 25px;
          border-bottom-right-radius: 25px;
    }
    .testimonials-header{
        width: 680px;
    }
    
    .testimonials-container{
        /* border: 2px solid red; */
        height:700px;
        width: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
      
    }
    .testimonials-box{
        width: 600px;
    }


    }



    @media (max-width:600px){
      body{
        height: 2800px;
        width: 100vw;
      }
      .main{
        width: 100vw;
        height: 2300px;
        margin: 0 auto;
      }

      .floating-side{
        width: 90vw;
        margin: 0 auto;
        height: 20vh;
      }

      #profileimg{
        width: 80px;
        height: 80px;
      }
      .year{
        width: 150px;
      }

      .about-container{
        width: 90vw;
        margin: 0 auto;
        /* border: 1px solid green; */
        height: 1900px;
        font-size: 3vw;
      }
    .hr{
      width: 80vw;
    }

    .about-me, .aboutme-head{
      width: 90vw;
    }
    .about-me{
      height: 60vh;
      /* border: 1px solid blue; */
      
    }
    .aboutme-content{
      width: 80vw;
      height: fit-content;
    }

    .what-im-doing{
      width: 80vw;
      margin: 0 auto;
      height: 150vh;
    }
        
   .doing-items-container{
    height: 200vh;
    /* border: 1px solid greenyellow; */
    width: 80vw;
   }

   .doing-items-box{
    height: 30vh;
    width: 80vw;
    font-size: 3vw;
   }
   .doing-header{
    width: 80vw;
    /* border: 1px solid white; */

   }
   .doing-items-content{
    width: 55vw;
    border: 1px solid white;
   }
   .doing-items-icon{
    /* border: 1px solid aqua; */
    text-align: center;
   }
   
   .testimonials{
    width: 89.55vw;
    margin: 0 auto;
     }

   .testimonials-header{
    width: 80vw;
   }

   .testimonials-box{
    width: 80vw;
   }

   .testimonials-container{
    /* border: 1px solid aqua; */
    width:80vw;
   }

   .test-header{
    width: 70vw;
   }

   .testimonials-box > img{
    width: 70vw;
    height: 30vh;

   }

   .testimonials-box > iframe{
     width: 70vw;
     height: 30vh;
   }

    }