body{
    margin: 0;
    width: auto ;
    background-color:rgb(255, 201, 231)PAGE ;
}

.container{
    height: 101vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.box-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95vw;
    /* border: 1px solid red; */
    height: 10vh;
    font-weight: 700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page{
    width: 100vw;
    height: 100vh;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    flex-direction: column;
}

.box,.extra-box,.left,.right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vh;
    height: 5vh;
    border-radius: 5px;
    margin: 3px;
    cursor: pointer;
    box-shadow: 0 0 1px rgb(97, 97, 97);
}
.box{
    /* border-color: rgb(0, 0, 0); */
    color: rgb(0, 0, 0);
    background-color: white;
}

.box:hover{
    background-color: rgb(255, 188, 225);

}

.blue{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 14, 147);
}

.gray{
    color: WHITE;
    background-color: rgb(185, 185, 185);

}

